
/*左侧区域背景颜色及边框颜色*/
#LEFTMENUCONTAINER{
	BACKGROUND:#B1D4D8;BORDER-LEFT:1PX SOLID #6BA6AE;BORDER-RIGHT:1PX SOLID #8CC7CF;
}
/*左侧区域背景颜色及边框颜色*/
#LEFTMENU-BOTTOM {
	BACKGROUND-COLOR:#CFE8EC;BORDER-LEFT:1PX SOLID #85B9C0;BORDER-RIGHT:1PX SOLID #85B9C0;
}
/*左侧菜单导航*/
.LEFTMENUTOPNAVDIV {
	BORDER-TOP:1PX SOLID #4DBBD1;
}
#DRILLCRUMB {
	BACKGROUND:#52C6DE;
	BORDER-TOP:1PX SOLID #6DD8E9;
	BORDER-LEFT:1PX SOLID #4DBBD1;
	BORDER-BOTTOM:1PX SOLID #4DBBD1;
	BORDER-RIGHT:1PX SOLID #4DBBD1;
}
/*左侧菜单底部导航*/
.LEFTMENUBOTTOMNAVDIV{
	BORDER-TOP:1PX SOLID #4DBBD1;
	BACKGROUND:#52C6DE;
}
.LEFTMENUBOTTOMNAVTBL {
	BORDER-TOP:1PX SOLID #6DD8E9;
	BORDER-LEFT:1PX SOLID #4DBBD1;
	BORDER-BOTTOM:1PX SOLID #4DBBD1;
	BORDER-RIGHT:1PX SOLID #4DBBD1;
}